{require_otp_vsn, "R1[56]B|17"}.

{erl_opts,[
           {i, "include"}
           %% no_debug_info,
          , debug_info
           %% , warnings_as_errors,
          , warn_obsolete_guard
           %% , warn_unused_import % supress  proper inc warnings
          , clint
          , warn_shadow_vars
          , warn_export_vars
          , {parse_transform, lager_transform}
          ]}.


{deps_dir, "deps"}.

{lib_dirs, ["deps"]}.


{deps,
 [
  {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.2"}}},
  {'epc-proto',  ".*",
   {git, "https://github.com/SmallCell/epc-proto.git", "master"}},
  {'lte-model',  ".*",
   {git, "https://github.com/SmallCell/lte-model.git", "master"}},
  
  %%   Testing related packages
  {meck, ".*", {git, "https://github.com/eproxus/meck.git",
                {tag, "0.8.2"}}},
  {sync, ".*",
   {git, "https://github.com/mentels/sync.git", {branch, "master"}}}
 ]}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{asn1_opts, []}.

{ct_log_dir, "logs"}.
